@import "@repo/tailwind-config/theme";
@import "../theme.css";
@import "@repo/widgets/styles.css";

@layer components {
  /* override widget styles */
  .product-card__button {
    color: var(--color-primary-foreground);
    background-color: var(--color-primary);
  }
}
